body {
    background-color: hsl(212, 45%, 89%);
}
.container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.container {
    margin: 0px;
    padding: 0px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 320px;
    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-code {
    width: 288px;
    height: 288px;
    margin: 16px;   
    border-radius: 10px;
}
.title {
    margin: 0px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}
.description {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
.text-container {
    margin: 8px 16px;
    padding: 0px 16px;
    font-family: 'Outfit', sans-serif;
}